<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>Detalle del producto</title>
    <link href="/css/productDetail.css" rel="stylesheet">
    <%- include("../partials/head") %>
</head>


<body>
    <%- include("../partials/header") %>
   

    <main>
        
        <div class="container-one">

            <span class="categories">
                volver al listado 
            </span>
            
                    <div class="top">
                        <div class="img-product">


                            <div class="container-two">
                                <img class = "two" src="/img/Productos/<%=producto.image%>" alt="Imagen de producto">

                            </div>

                            <div class="box">
                                <% for(let i = 0;i<4; i++ ){ %> 
                                <div class="boxes">
                                    
                                        <img class = "img-box" src="/img/Productos/Default.png">
                                         
                                </div>
                                <% } %>

                                

                            </div>

                        </div>


                        <div class="container-three">
                            <div class="textBox">
                                <h1> <%= producto.name%> </h1>
                                <br>
                                <h6> <% for(let i = 0; i < categoria.length; i++){ %> 
                                <% if (categoria[i].id == producto.categoryId) { %>
                                    <%= categoria[i].name  %> 
                                <% } %>
                                <% } %> 
                                
                                
                                </h6>
                           
                                <div class=price>
                                    <h1> $<%= producto.price%> </h1>
                                    
                                </div>
                           
                                <h5> <%= producto.description%> </h5>



                                <br>
                            </div>

                         

                            <div class="color-product">

                                <div class="color-text"> COLORES: </div>

                                <br>



                                <select class="color">
                                    <option value="Negro">Negro</option>
                                    <option value="Plateado">Plateado</option>
                                </select>
                                
                            </div>
                            <br>
                            <br>
                          

                            <div class="carrito1">
                                <!-- <a>  Agregar al carrito </a> <i class="fas fa-shopping-cart"></i> -->
                                <button type="submit" class="carrito" name="carrito"> Agregar al carrito <i
                                        class="fas fa-shopping-cart"> </i> </button>

                            </div>

                            <br>
                            <br>

                        </div>
                    </div>

                    <hr>

                    <br>
                    <br>



                    <div class="bottom">
                        <a class="bold"> CARACTERÍSTICAS PRINCIPALES </a>
                        <br>
                        <br>
                        <br>
                        <div class="marcaModelo">
                            <div class="marca"> Marca </div>
                            <div class="modelo"> <%= producto.marca%></div>
                        </div>
                        <br>
                        <div class="marcaModelo">
                            <div class="marca"> Modelo </div>
                            <div class="modelo"> <%= producto.modelo%> </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <a class="bold"> OTRAS CARACTERÍSTICAS </a>
                        <br>
                        <br>
                        <div class="lista">
                            <%= producto.description%>
                        </div>
                        <br>
                        <br>

                    </div>


                    <hr>
                    <br>
                    <br>
               



            <div class="middle">
                <a class="text-products"> OTROS PRODUCTOS SIMILARES </a>
                <br>
                <br>
                <br>
                <div class="seccion-productos">

                    <% for(let i=8 ; i<12; i++){ %>
        
                        
                            <a href="../products/<%= producto.id %> " class="producto">
        
                                <img src="/img/Productos/<%=producto.image%>" alt="Imagen de producto">
        
                                <hr>
                                <div class="product-txt-conteiner">
                                    <p class="Precio">$<%=producto.price%>
                                    </p>
                                    <p class="descripcion">
                                        <%=producto.name%>
                                    </p>
                                </div>
        
                            </a>
        
                            <% } %>
        
        
                </div>

                <br>
                <br>

            </div>
            











        </div>
         







    </main>

    <%- include("../partials/footer") %>
    


</body>
</div>

</html>