<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Catálogo</title>
        <link href="/css/catalogo.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header") %>

        <br>
        <br>

        <h2 class="cat-txt">Basado en tus ultimas busquedas</h2>


        <div class="seccion-productos">
            <% for(let i=4 ; i<8; i++){ %>

                <% producto=productos[i] %>
                    <a href="/products/<%= producto.id %> " class="producto">

                        <img src="/img/Productos/<%=producto.image%>" alt="Imagen de producto">

                        <hr>
                        <div class="product-txt-conteiner">
                            <p class="Precio">$<%=producto.price%>
                            </p>
                            <p class="descripcion">
                                <%=producto.name%>
                            </p>
                        </div>

                    </a>

                    <% } %>


        </div> -->
        <br>
        <h2 class="cat-txt">Productos de tu interés</h2>

        <div class="seccion-productos">

            <% for(let i=8 ; i<12; i++){ %>

                <% producto=productos[i] %>
                    <a href="/products/<%= producto.id %> " class="producto">

                        <img src="/img/Productos/<%=producto.image%>" alt="Imagen de producto">

                        <hr>
                        <div class="product-txt-conteiner">
                            <p class="Precio">$<%=producto.price%>
                            </p>
                            <p class="descripcion">
                                <%=producto.name%>
                            </p>
                        </div>

                    </a>

                    <% } %>


        </div>
        <br>
        <h2 class="cat-txt" id="Ofertass">Ofertas</h2>

        <div class="seccion-productos">

            <% var contadorDeOfertas = 0; %> 
            
                <% for(let i=productos.length -1 ; i>0; i--){ %>
                    <% if(contadorDeOfertas < 4){ %> 
                    <% producto=productos[i] %>
                        <% if(producto.oferta !=undefined){ %>
                            
                            <% contadorDeOfertas = contadorDeOfertas + 1 %> 
                               <a href="/products/<%= producto.id %> " class="producto">

                                    <img src="/img/Productos/<%=producto.image%>" alt="Imagen de producto">

                                    <hr>
                                    <div class="product-txt-conteiner">
                                        <p class="Precio">$<%=producto.price%>
                                        </p>
                                        <p class="descripcion">
                                            <%=producto.name%>
                                        </p>
                                    </div>

                                </a>
                                
                            
                        <% } %>
                    
                        
                <% } %>
                
            <% } %>

        </div>
        
        <br>
        <h2 class="cat-txt">Mas buscados</h2>

        <div class="seccion-productos">

            <% for(let i=12 ; i<16; i++){ %>

                <% producto=productos[i] %>
                    <a href="/products/<%= producto.id %> " class="producto">

                        <img src="/img/Productos/<%=producto.image%>" alt="Imagen de producto">

                        <hr>
                        <div class="product-txt-conteiner">
                            <p class="Precio">$<%=producto.price%>
                            </p>
                            <p class="descripcion">
                                <%=producto.name%>
                            </p>
                        </div>

                    </a>

                    <% } %>


        </div>

        <br>
        <br>
        <br>

        <h2 class="cat-txt">Buscá por categorias</h2>
        <div class="main-categories">

            <div class="categories-conteiner">
                <div class="categoria-grande">
                    <div class="ctg-txt-conteiner">
                        <h2>Auriculares</h2>

                    </div>
                    <a href="/"><img src="/img/AURICULARES.webp" alt="" class="ctg-img"></a>

                </div>


                <div class="categoria-chica">
                    <div class="ctg-txt-conteiner">
                        <h2>Amplificadores y parlantes</h2>
                    </div>
                    <a href="/"><img src="/img/AMPLIFICADOR.jpg" alt="" class="ctg-img"></a>
                </div>
                <div class="categoria-chica">
                    <div class="ctg-txt-conteiner">
                        <h2>Teclados</h2>
                    </div>
                    <a href="/"><img src="/img/SINTETIZADORES.jpg" alt="" class="ctg-img"></a>
                </div>
            </div>
            <div class="categories-conteiner">
                <div class="categoria-chica1">
                    <div class="ctg-txt-conteiner">
                        <h2>Sintetizadores</h2>
                    </div>
                    <a href="/"> <img src="/img/SINTETIZADORjpg.jpg" alt="" class="ctg-img"></a>

                </div>
                <div class="categoria-chica1">
                    <div class="ctg-txt-conteiner">
                        <h2>Micrófonos</h2>
                    </div>
                    <a href="/"> <img src="/img/MIC.jpg" alt="" class="ctg-img"> </a>
                </div>
                <div class="categoria-grande1">
                    <div class="ctg-txt-conteiner">
                        <h2>Controladores MIDI</h2>
                    </div>
                    <a href="/"> <img src="/img/MIDI.jpg" alt="" class="ctg-img"></a>

                </div>
            </div>
        </div>

        <%- include("../partials/footer") %>
</body>

</html>